In [37]:
import pandas as pd
import re

In [38]:
text_data = [
    "This is a sample text with numbers like 123 and special characters like @#$",
    "Cleaning text is crucial for effective Natural Language Processing",
    "Lets explore how regular expressions can help in text cleaning"
]

In [39]:
type(text_data)

list

In [40]:
df = pd.DataFrame({"text" :text_data})

In [41]:
df

                                                text
0  This is a sample text with numbers like 123 an...
1  Cleaning text is crucial for effective Natural...
2  Lets explore how regular expressions can help ...

In [42]:
df["text"][0]

'This is a sample text with numbers like 123 and special characters like @#$'

In [43]:
df["Cleaned_Text"] = df["text"].apply(lambda x :re.sub(r"[^A-Za-z0-9/s]"," ",x))

In [44]:
df["text"][0]

'This is a sample text with numbers like 123 and special characters like @#$'

In [45]:
df["Cleaned_Text"][0]

'This is a sample text with numbers like 123 and special characters like    '

In [46]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,This is a sample text with numbers like 123 an...
1,Cleaning text is crucial for effective Natural...,Cleaning text is crucial for effective Natural...
2,Lets explore how regular expressions can help ...,Lets explore how regular expressions can help ...

In [47]:
df["Cleaned_Text"] = df["Cleaned_Text"].apply(lambda x : x.lower())

In [48]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,this is a sample text with numbers like 123 an...
1,Cleaning text is crucial for effective Natural...,cleaning text is crucial for effective natural...
2,Lets explore how regular expressions can help ...,lets explore how regular expressions can help ...

In [49]:
df["Cleaned_Text"] = df["Cleaned_Text"].apply(lambda x : re.sub(r"\d"," ",x))

In [50]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,this is a sample text with numbers like an...
1,Cleaning text is crucial for effective Natural...,cleaning text is crucial for effective natural...
2,Lets explore how regular expressions can help ...,lets explore how regular expressions can help ...

In [51]:
df["Cleaned_Text"] = df["Cleaned_Text"].apply(lambda x : re.sub(r"[^\w\s]"," ",x))

In [52]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,this is a sample text with numbers like an...
1,Cleaning text is crucial for effective Natural...,cleaning text is crucial for effective natural...
2,Lets explore how regular expressions can help ...,lets explore how regular expressions can help ...

In [53]:
df["Cleaned_Text"] = df["Cleaned_Text"].apply(lambda x : re.sub(r"\s+"," ",x).strip())

In [54]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,this is a sample text with numbers like and sp...
1,Cleaning text is crucial for effective Natural...,cleaning text is crucial for effective natural...
2,Lets explore how regular expressions can help ...,lets explore how regular expressions can help ...

In [55]:
stop_word = ["this", "is", "and", "for", "in", "which"]

In [56]:
df["Cleaned_Text"] = df["Cleaned_Text"].apply(lambda x : " ".join([word for word in x.split()if word.lower() not in stop_word]))

In [57]:
df

,text,Cleaned_Text
0,This is a sample text with numbers like 123 an...,a sample text with numbers like special charac...
1,Cleaning text is crucial for effective Natural...,cleaning text crucial effective natural langua...
2,Lets explore how regular expressions can help ...,lets explore how regular expressions can help ...