In [47]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [48]:
sample_sentence = "I hated this city "
#"I love this meal,it was fantastic,ver amazing"
 #  
#"I absolutely loved the movie ,it was fantastic"

In [49]:
sid = SentimentIntensityAnalyzer()

In [50]:
sentiment_scores = sid.polarity_scores(sample_sentence)

In [51]:
sentiment_scores

{'neg': 0.677, 'neu': 0.323, 'pos': 0.0, 'compound': -0.6369}

In [52]:
import pandas as pd

In [53]:
data = {"sentences" : ["This product is terrible!",
                       "I am never coming back again, it was horrible",
                       "I loved the food",
                       "I love being in this city",
                       "Such a wonderful place"]}

In [54]:
df = pd.DataFrame(data)

In [55]:
df

                                       sentences
0                      This product is terrible!
1  I am never coming back again, it was horrible
2                               I loved the food
3                      I love being in this city
4                         Such a wonderful place

In [56]:
df["Sentiment Scores"] = df["sentences"].apply(lambda x :sid.polarity_scores(x)["compound"])

In [57]:
df

                                       sentences  Sentiment Scores
0                      This product is terrible!           -0.5255
1  I am never coming back again, it was horrible           -0.5423
2                               I loved the food            0.5994
3                      I love being in this city            0.6369
4                         Such a wonderful place            0.5719