In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({"text_data" : [
    "Hello world!",
    "Python is amazing",
    "Text manipulation tutorials are on youtube",
    "Lets learn strings"
]})

In [3]:
data

                                    text_data
0                                Hello world!
1                           Python is amazing
2  Text manipulation tutorials are on youtube
3                          Lets learn strings

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text_data  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [5]:
data["concatenated"] = data["text_data"] + " Concatenated!"

In [6]:
data

,text_data,concatenated
0,Hello world!,Hello world! Concatenated!
1,Python is amazing,Python is amazing Concatenated!
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube Con...
3,Lets learn strings,Lets learn strings Concatenated!

In [7]:
data["lenght"] = data["text_data"].apply(len)

In [8]:
data

,text_data,concatenated,lenght
0,Hello world!,Hello world! Concatenated!,12
1,Python is amazing,Python is amazing Concatenated!,17
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube Con...,42
3,Lets learn strings,Lets learn strings Concatenated!,18

In [9]:
data["Uppercase"] = data["text_data"].str.upper()

In [10]:
data

,text_data,concatenated,lenght,Uppercase
0,Hello world!,Hello world! Concatenated!,12,HELLO WORLD!
1,Python is amazing,Python is amazing Concatenated!,17,PYTHON IS AMAZING
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube Con...,42,TEXT MANIPULATION TUTORIALS ARE ON YOUTUBE
3,Lets learn strings,Lets learn strings Concatenated!,18,LETS LEARN STRINGS

In [11]:
data["Loercase"] = data["text_data"].str.lower()

In [12]:
data

,text_data,concatenated,lenght,Uppercase,Loercase
0,Hello world!,Hello world! Concatenated!,12,HELLO WORLD!,hello world!
1,Python is amazing,Python is amazing Concatenated!,17,PYTHON IS AMAZING,python is amazing
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube Con...,42,TEXT MANIPULATION TUTORIALS ARE ON YOUTUBE,text manipulation tutorials are on youtube
3,Lets learn strings,Lets learn strings Concatenated!,18,LETS LEARN STRINGS,lets learn strings

In [13]:
data = data[["text_data"]]

In [14]:
data

                                    text_data
0                                Hello world!
1                           Python is amazing
2  Text manipulation tutorials are on youtube
3                          Lets learn strings

In [15]:
data["substring"] = data["text_data"].str[0.10]

C:\Users\Jamshaid Mustafa\AppData\Local\Temp\ipykernel_28024\3771826651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["substring"] = data["text_data"].str[0.10]

In [16]:
data

                                    text_data  substring
0                                Hello world!        NaN
1                           Python is amazing        NaN
2  Text manipulation tutorials are on youtube        NaN
3                          Lets learn strings        NaN

In [17]:
data["contains_python"] = data["text_data"].str.contains("Python")

C:\Users\Jamshaid Mustafa\AppData\Local\Temp\ipykernel_28024\3184425101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["contains_python"] = data["text_data"].str.contains("Python")

In [18]:
data

                                    text_data  substring  contains_python
0                                Hello world!        NaN            False
1                           Python is amazing        NaN             True
2  Text manipulation tutorials are on youtube        NaN            False
3                          Lets learn strings        NaN            False

In [19]:
data = data[["text_data"]]

In [20]:
data["Replace_text"] = data["text_data"].str.replace("learn","cover")

C:\Users\Jamshaid Mustafa\AppData\Local\Temp\ipykernel_28024\608870440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Replace_text"] = data["text_data"].str.replace("learn","cover")

In [21]:
data

,text_data,Replace_text
0,Hello world!,Hello world!
1,Python is amazing,Python is amazing
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube
3,Lets learn strings,Lets cover strings

In [22]:
data["text_data"][0].split()

['Hello', 'world!']

In [23]:
data["word_count"] = data["text_data"].apply(lambda x : len(x.split()))

In [24]:
data

,text_data,Replace_text,word_count
0,Hello world!,Hello world!,2
1,Python is amazing,Python is amazing,3
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube,6
3,Lets learn strings,Lets cover strings,3

In [25]:
data["unique_characters"] = data["text_data"].apply(lambda x : " ".join(set(x)))

In [26]:
data

,text_data,Replace_text,word_count,unique_characters
0,Hello world!,Hello world!,2,d r H o l e ! w
1,Python is amazing,Python is amazing,3,g i s h z t o a P n m y
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube,6,b x i s u r t o p a n e l T m y
3,Lets learn strings,Lets cover strings,3,L g i s r t a l e n

In [27]:
data["word_list"] = data["text_data"].str.split()

In [28]:
data

,text_data,Replace_text,word_count,unique_characters,word_list
0,Hello world!,Hello world!,2,d r H o l e ! w,"[Hello, world!]"
1,Python is amazing,Python is amazing,3,g i s h z t o a P n m y,"[Python, is, amazing]"
2,Text manipulation tutorials are on youtube,Text manipulation tutorials are on youtube,6,b x i s u r t o p a n e l T m y,"[Text, manipulation, tutorials, are, on, youtube]"
3,Lets learn strings,Lets cover strings,3,L g i s r t a l e n,"[Lets, learn, strings]"

In [29]:
data = data[["text_data"]]

In [30]:
data

                                    text_data
0                                Hello world!
1                           Python is amazing
2  Text manipulation tutorials are on youtube
3                          Lets learn strings

In [31]:
data["substring_count"] = data["text_data"].str.count("o")

C:\Users\Jamshaid Mustafa\AppData\Local\Temp\ipykernel_28024\3581329175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["substring_count"] = data["text_data"].str.count("o")

In [32]:
data

                                    text_data  substring_count
0                                Hello world!                2
1                           Python is amazing                1
2  Text manipulation tutorials are on youtube                4
3                          Lets learn strings                0

In [33]:
data

                                    text_data  substring_count
0                                Hello world!                2
1                           Python is amazing                1
2  Text manipulation tutorials are on youtube                4
3                          Lets learn strings                0

In [34]:
data["reversed_text"] = data["text_data"].str[::-1]

C:\Users\Jamshaid Mustafa\AppData\Local\Temp\ipykernel_28024\2762022233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["reversed_text"] = data["text_data"].str[::-1]

In [35]:
data

,text_data,substring_count,reversed_text
0,Hello world!,2,!dlrow olleH
1,Python is amazing,1,gnizama si nohtyP
2,Text manipulation tutorials are on youtube,4,ebutuoy no era slairotut noitalupinam txeT
3,Lets learn strings,0,sgnirts nrael steL