In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
sentence = "Natural Language Processing is a fascinating feild to study. Natural Language Processing is great. So i like to study great things. is and is "

In [27]:
tfidf_vectorizer = TfidfVectorizer()

In [28]:
tfidf_matrix = tfidf_vectorizer.fit_transform([sentence])

In [29]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 13 stored elements and shape (1, 13)>

In [30]:
tfidf_matrix.toarray()

array([[0.14744196, 0.14744196, 0.14744196, 0.29488391, 0.58976782,
        0.29488391, 0.14744196, 0.29488391, 0.29488391, 0.14744196,
        0.29488391, 0.14744196, 0.29488391]])

In [31]:
pd.DataFrame(tfidf_matrix.toarray(), columns= tfidf_vectorizer.get_feature_names_out())

        and  fascinating     feild  ...     study    things        to
0  0.147442     0.147442  0.147442  ...  0.294884  0.147442  0.294884

[1 rows x 13 columns]

In [38]:
data = {"text": ["NLP is great",
                 "Python is amazing studying",
                 "I love studying Python",
                 "I love studying NLP"]}

In [39]:
df = pd.DataFrame(data)

In [40]:
df

                         text
0                NLP is great
1  Python is amazing studying
2      I love studying Python
3         I love studying NLP

In [41]:
tfidf_matrix_df = tfidf_vectorizer.fit_transform(df["text"])

In [42]:
pd.DataFrame(tfidf_matrix_df.toarray(), columns= tfidf_vectorizer.get_feature_names_out())

    amazing     great        is      love       nlp    python  studying
0  0.000000  0.667679  0.526405  0.000000  0.526405  0.000000  0.000000
1  0.614226  0.000000  0.484263  0.000000  0.000000  0.484263  0.392053
2  0.000000  0.000000  0.000000  0.613667  0.000000  0.613667  0.496816
3  0.000000  0.000000  0.000000  0.613667  0.613667  0.000000  0.496816